<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="feed.css">
    <link rel="stylesheet" href="navbar.css">
    <title>Musify - Timeline</title>
</head>
<body>
    <div class="navbar-container">
        <%- include('navbar') %>
    </div>
    
    <div class="feed-content">
        <h1>Welcome, <%= user.display_name %>!</h1>
        <input id="post" type="text" placeholder="What's happening?"></input>
        <button id="submit">Post!</button>
        <h2>Posts</h2>

        <div class="feed-container">
            <% userPosts.rows.forEach(post => { %>
                <div class="post">
                    <p><strong>@</strong><strong><%= post.spotify_id %></strong></p>
                    <p><strong></strong><%= post.post %></p>
                    <p><strong></strong><%= post.created_at %></p>
                </div>
            <% }) %>
        </div>
    </div>


    <script src = "feed.js"></script>

</body>
</html>